Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
aiohttp==0.11.0
asyncio-redis==0.13.4
aylien-apiclient==0.1.0
coverage==3.7.1
gunicorn==19.1.1
httplib2==0.9
itsdangerous==0.24
mock==1.0.1
py==1.4.26
pytest==2.6.4
redis==2.10.3
six==1.8.0
requests==2.5.0
responses==0.3.0
