<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hacker News TLDR</title>
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .panel .url {
            color: blue;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1><a href="https://news.ycombinator.com">Hacker News</a> TLDR</h1>
    <div class="panel-group" id="accordion" class="container">
    {% for story in stories %}

        <div class="panel panel-default" id="panel{{ loop.index }}">
            <div class="panel-heading">
                 <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{ loop.index }}"
                       >
                        {{ story.title }} <a class="url" href="{{ story.url }}"> View Full </a> - <a class="url" href="https://news.ycombinator.com/item?id={{ story.hn_id }}">HN Comments</a>
                    </a>
                 </h4>

            </div>
            <div id="collapse{{ loop.index }}" class="panel-collapse collapse">
                <div class="panel-body">
                     <ul>
                        {% for sentence in story.body.sentences %}
                            <li>{{ sentence }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>


    {% endfor %}
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>
